
:root{
--primary-color: #8619E6;
--secondary-color:#EDB33E;
--tertiary-color: #B8B6B2;

}

.recipes-container{
    margin: 5em 10em;

}

.header{
    margin-bottom: 2em;
}

.headin{
    margin-bottom: 10px;
}