
:root{
--primary-color: #8619E6;
--secondary-color:#EDB33E;
--tertiary-color: #B8B6B2;

}

.recipes-container{
    margin: 5em 10em;

}

.header{
    margin-bottom: 2em;
}

.headin{
    margin-bottom: 10px;
}

.is-flex{
    display: flex;
}

main{
    margin: 2px 10em;
    border: 0px solid orange;
}

#recipe-buttons {
    border: 0px solid red;
}

#recipe-header {
    border: 0px solid purple;
}
#recipe-img{
    border: 0px solid green;
}

#recipe-list{
    border: 0px solid blue;
    padding-right: 5em;
}

section{
    margin: 1em auto;

}

.list-item{
    padding-top: 3px;
}

#ingredient-list{
    margin: 5em 10em;
}

#ingredient-row{
    text-align: center;
}

